/* propiedades para ocultar elementos */
.ocultar{
    display: none;
}

#seccion-derecha__ocultar-textarea{
    display: none;
}

/* desde aquí inician los estilos CSS */
*{
    font-family: 'Inter';
}

body{
    background-color: #E5E5E5;
}

header{
    width: 100%;
    height: 50px;
}

.logo img{
    display: inline-block;
    box-sizing: border-box;
    width: 115px;
    margin-left: 40px;
    margin-top: 60px;
}

main{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.seccion-izquierda{
    width: 70%;
    height: 850px;
    box-sizing: border-box;
}

#seccion-izquierda__texto-ingresado{
    color: #0A3871;
    width: 80%;
    height: 55%;
    font-size: 24px;
    box-sizing: border-box;
    text-transform: lowercase;
    display: block;
    margin: auto;
    margin-top: 100px;
    resize: none;
    padding: 50px;
    border: none;
    background-color: transparent;
    outline: none;
}

::placeholder{
   color: #0A3871;;
}

.advertencia{
    width: 310px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 405px;
}

.advertencia-msj{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.advertencia img{
    margin-right: 10px;
}

.botones{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 280px;
    /* border: 2px solid rgb(12, 6, 6); */
}

#btn-encriptar{
    width: 30%;
    height: 55px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 24px;
    background-color: #0A3871;
    margin: 10 30 10 10;
    transition: 0.8s;  
}

#btn-desencriptar{
    width: 30%;
    height: 55px;
    margin: 10px;
    color: #0A3871;
    font-size: 15px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: #D8DFE8;
    transition: 0.8s;
}

#btn-encriptar:hover, #copiar:hover{
    color: #0A3871;
    box-shadow: 0 0 20px #0A3871, 0 0 10px #0A3871, 0 0 15px #0A3871;
    background: #f1f1f1f1;
}

#btn-desencriptar:hover{
    background: #f1f1f1f1;
    box-shadow: 0 0 20px #0A3871, 0 0 10px #0A3871, 0 0 15px #0A3871;  
}

.seccion-derecha{
    width: 22%;
    height: 700px;
    background-color: white;
    margin:0px 100px 50px 0;
    box-sizing: border-box;
    border-radius: 24px;
    /* overflow: auto; */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);                       
}

.seccion-derecha__contenedor-img img{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.seccion-derecha__contenedor-img{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    margin-top: 130px;
    margin-left: 17px;
}

.seccion-derecha__contenedor-h3{
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

.seccion-derecha__contenedor-h3 h3{
    font-size: 22px;
}

.seccion-derecha__contenedor-msj {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    padding-top: 0;
}

#seccion-derecha__contenedor-resultado{
    width: 88%;
    height: 500px;
    color: #495057;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    resize: none;
    margin: 50 15 15 19;
    box-sizing: border-box;
    border: none;
    background: #ffffff;
    outline: none;  
}

.btn-copiar{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0px;
} 

#copiar{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 120px;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    background-color: #ffffff;
    transition: 0.8s;
} 

#copiar:active, #btn-desencriptar:active{
    color: #ffff;
    background-color: #0A3871;
    transition: .05s;
}

#btn-encriptar:active{
    color: #ffff;
    background-color: #0A3871;
    transition: .05s;   
} 

.contenedor-desarrollador{
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 5px;
    background-color: #0A3871;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 18px 18px 0;
}

.contenedor-desarrollador h4{
    color: #ffffff;;
    font-size: 15px; 
}


.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-github{
    background:#171515;
    border-radius: 1rem 0 0 0 ;
}

.icon-linkedin2{
    background: #0e76a8;
    border-radius: 0 0 0 1rem;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0 0 0 0.42);

}


/* Responsive */

@media screen and (max-width:768px) {

  main{
    flex-direction: column;
    /* background-color: blue; */
  }

  header, .seccion-izquierda, #seccion-izquierda__texto-ingresado, .botones, .contenedor-desarrollador, .seccion-derecha, .seccion-derecha__contenedor-img, .seccion-derecha__contenedor-h3, .seccion-derecha__contenedor-msj,#seccion-derecha__contenedor-resultado, #btn-copiar, .advertencia, .contenedor-desarrollador{

    width: auto;
}

header{
    height:70px
}
.logo img{
    margin: 20px 0 0 -25;
}

.seccion-izquierda{
    height: 380px;
    font-size: 40px;
}

#seccion-izquierda__texto-ingresado{
    width: 100%;
    height: 100%;
    font-size: 27px;
    margin: 0;
    padding: 50 40 40 40 ;
}

::placeholder{
    width: 100%;
}

.botones{
    height: 150px;
    flex-direction: column;
    margin: 5 0 0 0;
}

#btn-encriptar{
    width: auto;
    height: 65px;
    font-size: 18px;
    margin: 15px;
}

#btn-desencriptar{
    width: auto;
    height: 65px;
    font-size: 18px;
    margin: 8px 15px 10px 15px;
}

.advertencia{
    margin: -30 0 -5 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.seccion-derecha__contenedor-img{
    display: none;
}

.seccion-derecha{
    margin: 160 15 15 15;
}

.seccion-derecha__contenedor-h3{
    height: 35%;
    margin-top: 15px;
}

.seccion-derecha__contenedor-h3 h3{
    font-size: 25px;
    line-height: 1.3;
}

.seccion-derecha__contenedor-msj{
    height: 20%;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 10px;
}

#seccion-derecha__contenedor-resultado{
    width: 90%;
    height: 220px;
    font-size: 20px;
    font-weight: bold;
    margin: 20 20 10 20;
    padding: 0px;
}

#copiar{
    height: 32px;
    margin-bottom: 20px;
}


.contenedor-desarrollador {
    display: none;
   
}

.social-bar{
    font-size: 1.1rem;
}

}



